<mc-loading *ngIf="feedStore.isLoading()"></mc-loading>
<mc-error-message
  *ngIf="feedStore.error() as errorMessage"
  [message]="errorMessage"
></mc-error-message>

<div *ngIf="feedStore.data() as feedData">
  <div class="article-preview" *ngFor="let article of feedData.articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" alt="" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt | date: 'dd-MM-yyyy' }}</span>
      </div>
      <div class="pull-xs-right">ADD TO FAVORITES</div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more</span>
      <mc-tag-list [tags]="article.tagList"></mc-tag-list>
    </a>
  </div>
  <mc-pagination
    [total]="feedData.articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></mc-pagination>
</div>
